body{
margin:0;
font-family:Arial;
background:#f5f7fb;
}

nav{
background:#2c3e50;
padding:20px;
}

nav a{
color:white;
text-decoration:none;
margin-right:20px;
font-size:18px;
}

nav a:hover{
color:#74b9ff;
}

h1{
text-align:center;
color:#2c3e50;
}

h2{
color:#34495e;
}

div{
background:white;
margin:20px;
padding:20px;
border-radius:15px;

box-shadow:
0 0 15px
rgba(0,0,0,.08);
}

button{
background:#4b7bec;

color:white;

border:none;

padding:12px 25px;

border-radius:10px;

cursor:pointer;
}

button:hover{

transform:scale(1.03);

}

form{

width:700px;

margin:auto;

}

input,
textarea{

width:100%;

padding:10px;

margin-bottom:10px;

}